cycler==0.10.0
kiwisolver==1.3.1
matplotlib==3.4.2
-e git+https://github.com/Pier297/MLP.git@1cccd8a96a187bad0fe6a7559a487674222b5d4f#egg=MLP
numpy==1.22.0
Pillow==9.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.16.0
